extends layout

block content
  h1= title
<<<<<<< HEAD
  p Hello world. My name is Megan Short.
=======
<<<<<<< HEAD
  p Hello world. My name is Cory Bowman.
=======
  p Hello world. My name is Amogh Pradhan.
>>>>>>> 79da1982aab02d1f096c9ef8eaaba8cbef02423a
>>>>>>> 421721ba745ca7f95e1bb2ed1828092d4a83a117
