extends layout

block content
  h1 Hello World
<<<<<<< HEAD
  p Hello world. My name is Jason Melton
=======
  
  p Hello. My name is Bryan Coonfield
>>>>>>> 23bf5bb7bdbb12b42482e21f35301361bdde7065

